In [29]:
# !pip install sqlalchemy, pyarrow, fastparquet, psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.5.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.3/384.3 kB 12.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.5-cp310-cp310-linux_x86_64.whl size=583993 sha256=e6b7c19f9a83d31aa10159eadffebe0550027c1690f7481febe68fba63a047fa
  Stored in directory: /home/codespace/.cache/pip/wheels/b4/83/91/37687788ee41584610b6db5b85f98ed987fffb2ca193558264
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.5

[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: python -m pip install --upgrade pip

In [9]:
import pandas as pd
from sqlalchemy import create_engine

In [10]:
data = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369769 entries, 0 to 1369768
Data columns (total 19 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1369769 non-null  int64
 1   tpep_pickup_datetime   1369769 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  1369769 non-null  datetime64[ns]
 3   passenger_count        1271417 non-null  float64
 4   trip_distance          1369769 non-null  float64
 5   RatecodeID             1271417 non-null  float64
 6   store_and_fwd_flag     1271417 non-null  object
 7   PULocationID           1369769 non-null  int64
 8   DOLocationID           1369769 non-null  int64
 9   payment_type           1369769 non-null  int64
 10  fare_amount            1369769 non-null  float64
 11  extra                  1369769 non-null  float64
 12  mta_tax                1369769 non-null  float64
 13  tip_amount             1369769 non-null  float64
 14  tolls_amount           1369769 non-null  float64
 15  improvement_surcharge  1369769 non-null  float64
 16  total_amount           1369769 non-null  float64
 17  congestion_surcharge   1271417 non-null  float64
 18  airport_fee            5 non-null        float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 198.6+ MB

In [32]:
engine = create_engine("postgresql://postgres:postgres@localhost:5432/ny_taxi")

In [33]:
engine.connect()

In [11]:
test = data.head(1000)

In [12]:
test

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,2021-01-01 00:57:42,2021-01-01 01:08:18,1.0,3.10,1.0,N,264,264,1,11.5,0.5,0.5,1.00,0.0,0.3,13.80,0.0,NaN
996,2,2021-01-01 00:19:34,2021-01-01 00:31:34,1.0,2.77,1.0,N,170,239,1,11.0,0.5,0.5,2.96,0.0,0.3,17.76,2.5,NaN
997,2,2021-01-01 00:16:38,2021-01-01 00:24:23,3.0,2.01,1.0,N,41,263,1,8.5,0.5,0.5,2.46,0.0,0.3,14.76,2.5,NaN
998,2,2021-01-01 00:28:09,2021-01-01 00:40:08,1.0,3.35,1.0,N,263,186,4,-12.0,-0.5,-0.5,0.00,0.0,-0.3,-15.80,-2.5,NaN
999,2,2021-01-01 00:28:09,2021-01-01 00:40:08,1.0,3.35,1.0,N,263,186,2,12.0,0.5,0.5,0.00,0.0,0.3,15.80,2.5,NaN

In [15]:
for i in range(0, 1000, 100):
    print(i, i+100)

0 100
100 200
200 300
300 400
400 500
500 600
600 700
700 800
800 900
900 1000

In [39]:
for i in range(0, len(data), 10_000):
    data[i: i+10_000].to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    print('inserted another chunk!')

inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!
inserted another chunk!